/* body {
    background-color: rgb(193, 195, 199);
} */


.navbar-brand, .navbar-utama a {
    color: black !important;
}

.navbar-fixed-top.scrolled {
    /* background-color: rgb(146, 100, 100) !important;
    transition: background-color 200ms linear; */
    box-shadow: 0 0 0 1px rgba(226, 226, 226, 0.7);
  }

.navbar-utama a{
    margin-left: 25px;

}

.tombol-sign:hover {
    background-color: white!important;
}

section.hero {
    margin-top: 100px;
}

.banner h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 56px;
    font-weight: bold;
}

.banner p {
    font-size: 19px;
}

.services, .services2 {
    margin-top: 122px;
}

@media (max-width: 991.98px) { 
    .services, .services2 {
        margin-top: 100px;
    }
 }

.services p, .services2 p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #87A1B6;
}

.services h3, .services2 h3 {
    font-family: 'Nunito Sans';
    font-size: 40px;
    font-weight: 600;
}

/* ============ Skills ============== */

.html5-color {
    color: orange;
}

.css3-color {
    color: blue;
}

.js-color {
    color: #f0db4f;
}

.bootstrap-color {
    color: #b283fa;
}

.php-color {
    color: #8993be;
}

.laravel-color {
    color: red;
}

.ci-color {
    color: #dd4814;
}

.java-color {
    color: #5382a1;
}

.fb-color {
    color: #4267B2;
}

.insta-color {
    color: #fd1d1d;
}

.wa-color {
    color: #25D366;
}

.line-color {
    color: #00B900;
}
/* ============= Skills ================ */


.img-portfolio {
    width: 700px;
    max-height: 350px;
}

@media (max-width: 991.98px) { 
    .navbar-utama a{
        margin-left: 0;
    }
 }


/* ==== Bagian Plan ==== */

.plan .border-biru {
    border-top: 6px solid #0593FA;
}

.plan .harga-plan-biru {
    color: #0593FA;
}

.plan .border-hijau {
    border-top: 6px solid #56CBAE;
}

.plan .harga-plan-hijau {
    color: #56CBAE;
}

.plan .border-merah {
    border-top: 6px solid #FA6770;
}

.plan .harga-plan-merah {
    color: #FA6770;
}


/* Terakhir */

.akhir {
    margin-top: 122px;
}

@media (max-width: 991.98px) { 
    .akhir {
        margin-top: 100px;
    }
}

/* .akhir .bg-akhir {
    background-image: url('../img/gambar-akhir.png');
    background-color: rgb(107, 97, 97);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 387px;
    border-radius: 15px;
}

.akhir {
    font-family: 'Roboto';
    color: white;
}

.akhir .bg-akhir h3 {
    font-size: 40px;
    margin-top: 102px;
}

.akhir .bg-akhir p {
    font-size: 18px;
}

.akhir .bg-akhir a {
    font-size: 14px;
} */


/* footer */
.footer {
    font-family: 'Roboto';
    background-color: #fff;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.footer-copyright a {
    color: blue;
}

.footer p {
    font-size: 14px;
}






